

.custom_nav{
font-size: small;
box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.3);
}
.custom_nav ul.dropdown-menu{
font-size: small;
}
.custom-divider{
    height: 5px;
    background: rgb(255, 145, 0);
    background: linear-gradient(90deg, rgba(255, 145, 0,1) 0%, rgba(33, 78, 161,1) 15%, rgba(190, 50, 132) 39%,rgb(70, 136, 90) 59%,rgb(180, 88, 26) 79%,rgb(43, 119, 163) 100%);
}
.main-banner{
    padding-top: 150px;
    padding-bottom: 100px;
    background-image: url('../img/download.jpg');
    background-size: cover;
    color: white;
}
.feature-holder{
    text-align: center;
    margin-bottom: 25px;
}
section.features{
    padding-top: 35px;
    padding-bottom: 25px;
    background-color: aliceblue;
}
.feature-holder h3{
    font-size: 1.2em;
}
.feature-holder p{
    font-size: 14px;
}